Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

Ans -

In [1]:
import pandas as pd

In [2]:
data = {
    'Studing_time_spent' : [3,5,7,9],
    'Final_Exam_Score' : [328 ,390 ,430 ,390]
}
df = pd.DataFrame(data)
df.head()

   Studing_time_spent  Final_Exam_Score
0                   3               328
1                   5               390
2                   7               430
3                   9               390

In [3]:
df.corr(method='pearson')

                    Studing_time_spent  Final_Exam_Score
Studing_time_spent            1.000000          0.692652
Final_Exam_Score              0.692652          1.000000

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

Ans -

In [6]:
data1 = {
    'Sleep(hours)' : [6, 7, 5, 8, 9, 4, 6, 5, 7, 8],
    'Job_Satisfaction (1 - 10)' : [7, 8, 6, 9, 10, 5, 7, 6, 8, 9]
    
}

df1 = pd.DataFrame(data1)
df1.head()

   Sleep(hours)  Job_Satisfaction (1 - 10)
0             6                          7
1             7                          8
2             5                          6
3             8                          9
4             9                         10

In [7]:
df1.corr(method='spearman')

                           Sleep(hours)  Job_Satisfaction (1 - 10)
Sleep(hours)                        1.0                        1.0
Job_Satisfaction (1 - 10)           1.0                        1.0

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results

Ans -

In [9]:
import numpy as np

In [10]:
np.random.seed(42)
excercise_hours = np.random.uniform(0,10,50)
bmi = 30 - 0.5 * excercise_hours + np.random.normal(0,2,50)

In [14]:
Data = {
    'Excercise Hours' : excercise_hours,
    'BMI' : bmi
}
dff = pd.DataFrame(Data)
dff.head()

   Excercise Hours        BMI
0         3.745401  29.604233
1         9.507143  25.589165
2         7.319939  26.108734
3         5.986585  26.404500
4         1.560186  26.262863

In [15]:
## Pearson correlation coefficient 

dff.corr(method='pearson')

                 Excercise Hours       BMI
Excercise Hours         1.000000 -0.651379
BMI                    -0.651379  1.000000

In [16]:
## Spearman Rank Correlation

dff.corr(method='spearman')

                 Excercise Hours      BMI
Excercise Hours          1.00000 -0.66982
BMI                     -0.66982  1.00000

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables

Ans -

In [17]:
np.random.seed(42)
tv_hours = np.random.uniform(1,6,50)
physical_activity = 180-20*tv_hours+np.random.normal(0,15,50)

data = {
    'TV hours' : tv_hours,
    'physical Activity' : physical_activity
}

dfff = pd.DataFrame(data)
dfff.head()

   TV hours  physical Activity
0  2.872701         133.622987
1  5.753572          67.499094
2  4.659970          85.065882
3  3.993292          95.617596
4  1.780093         122.220306

In [18]:
dfff.corr(method='pearson')

                   TV hours  physical Activity
TV hours           1.000000          -0.908344
physical Activity -0.908344           1.000000

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [21]:
np.random.seed(42)

daily_sales_calls = np.random.randint(10,50,30)
weekly_sales_calls = daily_sales_calls*7 + np.random.normal(0,5,30)

dfff = pd.DataFrame({
    'Daily Sales Calls' : daily_sales_calls,
    'Weekly Sales Calls' : weekly_sales_calls
})
dfff.head()

   Daily Sales Calls  Weekly Sales Calls
0                 48          343.328244
1                 38          264.871118
2                 24          168.337641
3                 17          111.876259
4                 30          207.278086

In [22]:
dfff.corr(method='pearson')

                    Daily Sales Calls  Weekly Sales Calls
Daily Sales Calls            1.000000            0.998266
Weekly Sales Calls           0.998266            1.000000